{% extends "user/layout.html" %}
{% load static %}
{% block extra_css %}
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/searchbuilder/1.1.0/css/searchBuilder.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/datetime/1.1.0/css/dataTables.dateTime.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/colreorder/1.5.4/css/colReorder.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="header" >
                     <center><h2>Supplier Details Table</h2></center>
                    </div>

                                <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="example">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>receipt_no</th>
                                            <th>petrolbefore</th>
                                            <th>dieselbefore </th>
                                            <th>petrolloss</th>
                                            <th>Dieselloss</th>
                                            <th>Time</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Date</th>
                                            <th>receipt_no</th>
                                            <th>petrolbefore</th>
                                            <th>dieselbefore </th>
                                            <th>petrolloss</th>
                                            <th>Dieselloss</th>
                                            <th>Time</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                   <tbody>
                                   {% for supplierdetail in supplierdetails %}
                                       <tr>
                                        <td>{{ supplierdetail.date }}</td>
                                        <td>{{ supplierdetail.receipt_no }}</td>
                                        <td>{{ supplierdetail.petrolbefore }}</td>
                                        <td>{{ supplierdetail.dieselbefore }}</td>
                                        <td>{{ supplierdetail.petrolloss }}</td>
                                        <td>{{ supplierdetail.dieselloss }}</td>
                                        <td>{{ supplierdetail.time }}</td>
                                       <th>
                                           <a href="{% url 'supplierdetail-update'  supplierdetail.id %}" class="btn btn-info"> update</a>
                                           <a href="{% url 'supplierdetail-delete'  supplierdetail.id %}" class="btn btn-danger"> Delete</a>
                                           <a href="{% url 'supplierdetail-detail'  supplierdetail.id %}" class="btn btn-success waves-effect"> Detail</a>
                                       </th>

                                       </tr>
                                   {% endfor %}
                                   </tbody>
                                </table>

{% endblock %}
{% block menu_js %}
{% endblock %}
{% block extra_js %}
{% include "user/extra_js.html" %}
{% endblock %}