{% extends "user/layout.html" %}
{% block body %}
{% load static %}
    <h1> Are you sure you want to delete ?</h1>
    <form method="post">
    {% csrf_token %}
        <div class="col-sm-3">
                <div class="card profile-card">


                            <div class="image-area">

                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <img src="{% static 'IndianOilLogo100x100 (1).jpg' %}" width="130px" height="130px" alt="AdminBSB - Profile Image" />
                            </div>
                            <div class="content-area">
                                <h4>{{ object.fname }} {{ object.mname }} {{ object.lname }}</h4>
                                <p>{{ object.companyname }}</p>

                            </div>

                </div>
    </div>
    <div class="col-sm-9">

                    <div class="card card-about-me">
                        <div class="body">

                                <div class="col-sm-3">
                                    <div class="title">
                                        <b>Date</b>
                                    </div>
                                    <div class="content">
                                        {{ object.date }}
                                    </div>
                                </div >
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i><b>
                                        ptank_open</b>
                                    </div>
                                    <div class="content">
                                        {{ object.ptank_open}}
                                    </div>
                                </div >
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i><b>
                                        ptank_close</b>
                                    </div>
                                    <div class="content">
                                       {{ object.ptank_close }}
                                    </div>
                                </div >
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i><b>
                                        dtank_open</b>
                                    </div>
                                    <div class="content">
                                        {{ object.dtank_open }}
                                    </div>
                                </div >
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i><b>
                                        dtank_close</b>
                                    </div>
                                    <div class="content">
                                        {{ object.dtank_close}}
                                    </div>
                                </div >
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i><b>
                                        totalpetrol</b>
                                    </div>
                                    <div class="content">
                                        {{ object.totalpetrol }}
                                    </div>
                                </div >

                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i><b>
                                        totaldiesel</b>
                                    </div>
                                    <div class="content">
                                        {{ object.totaldiesel}}
                                    </div>
                                </div >
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i><b>
                                        lostpetrol</b>
                                    </div>
                                    <div class="content">
                                        {{ object.lostpetrol }}
                                    </div>
                                </div >
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i><b>
                                        lostpetrol</b>
                                    </div>
                                    <div class="content">
                                        {{ object.lostpetrol }}
                                    </div>
                                </div >

                            <br><br><br><br><br><br><br><br><br><br>

                        </div>
                    </div>
    </div>
        <input type="submit" value="delete" class="btn btn-danger">
        <a href="{% url 'employee-view' %}" class="btn btn-info" >cancel </a>
    </form>
{% endblock %}