{% extends "user/layout.html" %}
{% load static %}
{% block extra_css %}
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/searchbuilder/1.1.0/css/searchBuilder.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/datetime/1.1.0/css/dataTables.dateTime.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/colreorder/1.5.4/css/colReorder.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
               <!-- Exportable Table -->
    <div class="header" >
                     <center><h2>Calculation Master Table</h2></center>
                    </div>

                                <table  id="example">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Petrol tank open</th>
                                            <th>Petrol tank close</th>
                                            <th>Diesel  tank open</th>
                                            <th>Diesel tank close</th>
                                            <th> Total petrol</th>
                                            <th> Total diesel</th>
                                            <th>lost petrol in liters</th>
                                            <th>Lost diesel price</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Date</th>
                                            <th>Petrol tank open</th>
                                            <th>Petrol tank close</th>
                                            <th>Diesel  tank open</th>
                                            <th>Diesel tank close</th>
                                            <th> Total petrol</th>
                                            <th> Total diesel</th>
                                            <th>lost petrol in liters</th>
                                            <th>Lost diesel price</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                   <tbody>
                                   {% for calcmaster in calcmasters %}
                                       <tr>
                                        <td>{{ calcmaster.date }}</td>
                                        <td>{{ calcmaster.ptank_open }}</td>
                                        <td>{{ calcmaster.ptank_close }}</td>
                                        <td>{{ calcmaster.dtank_open }}</td>
                                        <td>{{ calcmaster.dtank_close }}</td>
                                        <td>{{ calcmaster.totalpetrol }}</td>
                                        <td>{{ calcmaster.totaldiesel }}</td>
                                        <td>{{ calcmaster.lostpetrol }}</td>
                                        <td>{{ calcmaster.lostdiesel }}</td>

                                       <td>
                                           <a href="{% url 'calcmaster-update'  calcmaster.id %}" class="btn btn-info"> update</a>
                                           <a href="{% url 'calcmaster-delete'  calcmaster.id %}" class="btn btn-danger"> Delete</a>
                                           <a href="{% url 'calcmaster-detail'  calcmaster.id %}" class="btn btn-success waves-effect"> Detail</a>
                                       </td>

                                       </tr>
                                   {% endfor %}
                                   </tbody>
                                </table>

{% endblock %}
{% block menu_js %}
{% endblock %}
{% block extra_js %}
{% include "user/extra_js.html" %}
{% endblock %}