{% extends "user/layout.html" %}
{% load static %}
{% load crispy_forms_field %}
{% block body %}
<div class="card profile-card">
                        <div class="profile-header">&nbsp;</div>
                    </div>
                    <div class="card card-about-me">
                        <div class="body">
                            <ul>
                                <li>
                                    <div class="title">
                                        Date
                                    </div>
                                    <div class="content">
                                        {{ object.date }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        ptank_open
                                    </div>
                                    <div class="content">
                                        {{ object.ptank_open}}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        ptank_close
                                    </div>
                                    <div class="content">
                                       {{ object.ptank_close }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        dtank_open
                                    </div>
                                    <div class="content">
                                        {{ object.dtank_open }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        dtank_close
                                    </div>
                                    <div class="content">
                                        {{ object.dtank_close}}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        totalpetrol
                                    </div>
                                    <div class="content">
                                        {{ object.totalpetrol }}
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        totaldiesel
                                    </div>
                                    <div class="content">
                                        {{ object.totaldiesel}}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        lostpetrol
                                    </div>
                                    <div class="content">
                                        {{ object.lostpetrol }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        lostpetrol
                                    </div>
                                    <div class="content">
                                        {{ object.lostpetrol }}
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
{% endblock %}