{% extends "user/layout.html" %}
{% block body %}
    <h1> Are you sure you want to delete ?</h1>
    <form method="post">
    {% csrf_token %}
    <div class="card profile-card">
                        <div class="profile-header">&nbsp;</div>


                    </div>

                    <div class="card card-about-me">

                        <div class="body">
                            <ul>
                                <li>
                                    <div class="title">
                                        <i class="fa fa-birthday-cake"></i>Date
                                    </div>
                                    <div class="content">
                                        {{ object.date }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons">location_on</i>
                                        Vehicle Number
                                    </div>
                                    <div class="content">
                                        {{ object.v_no }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons">edit</i>
                                        Driver Name
                                    </div>
                                    <div class="content">
                                       {{ object.driver_name }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        fuel type
                                    </div>
                                    <div class="content">
                                        {{ object.fuel_type }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Remarks
                                    </div>
                                    <div class="content">
                                        {{ object.remarks }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Creditor
                                    </div>
                                    <div class="content">
                                        {{ object.creditor }}
                                    </div>
                                </li>



                            </ul>
                        </div>
                    </div>
        <input type="submit" value="delete" class="btn btn-danger">
        <a href="{% url 'employee-view' %}" class="btn btn-info" >cancel </a>
    </form>
{% endblock %}