{% extends "user/layout.html" %}
{% load static %}
{% block body %}
    <h1> Are you sure you want to delete ?</h1>
    <form method="post">
    {% csrf_token %}
     <div class="col-sm-3">
                    <div class="card profile-card">
                        <div class="profile-header">&nbsp;</div>
                        <div class="profile-body">
                            <div class="image-area">
                                <img src="{% static 'img.png' %}" width="130px" height="130px" alt="AdminBSB - Profile Image" />
                            </div>
                            <div class="content-area">
                                <h4>{{ object.fname }} {{ object.mname }} {{ object.lname }}</h4>
                                <p>{{ object.designation }}</p>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-9">

                    <div class="card card-about-me">

                        <div class="body">

                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="fa fa-birthday-cake"></i><b>Date</b>
                                    </div>
                                    <div class="content">
                                        {{ object.date }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Petrol Before</b>
                                    </div>
                                    <div class="content">
                                        {{ object.petrolbefore }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Petrol After</b>
                                    </div>
                                    <div class="content">
                                       {{ object.petrolafter }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Lost Petrol</b>
                                    </div>
                                    <div class="content">
                                       {{ object.lostpetrol }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Lost Petrol Price</b>
                                    </div>
                                    <div class="content">
                                        {{ object.lostpetrolprice }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Diesel Before</b>
                                    </div>
                                    <div class="content">
                                        {{ object.dieselbefore }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Diesel After</b>
                                    </div>
                                    <div class="content">
                                        {{ object.dieselafter }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Lost Diesel</b>
                                    </div>
                                    <div class="content">
                                        {{ object.lostdiesel }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Lost Diesel Price</b>
                                    </div>
                                    <div class="content">
                                        {{ object.lostdieselprice }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Oil Before</b>
                                    </div>
                                    <div class="content">
                                       {{ object.oilopeninlit }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Oil After</b>
                                    </div>
                                    <div class="content">
                                        {{ object.oilcloseinlit }}
                                    </div>
                                </div>
                            <br><br><br><br><br><br><br><br>
                        </div>

                        </div>
                    </div>
                </div>
        <input type="submit" value="delete" class="btn btn-danger">
        <a href="{% url 'rate-view' %}" class="btn btn-info" >cancel </a>
    </form>
{% endblock %}