{% extends "user/layout.html" %}
{% load static %}
{% block extra_css %}
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/searchbuilder/1.1.0/css/searchBuilder.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/datetime/1.1.0/css/dataTables.dateTime.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/colreorder/1.5.4/css/colReorder.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="header" >
                     <center><h2>Tank Master Table</h2></center>
                    </div>

                                <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="example">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Petrol before in liters</th>
                                            <th>Petrol after in liters</th>
                                            <th>lost petrol in liters</th>
                                            <th>Lost petrol price</th>
                                            <th>Diesel before in liters</th>
                                            <th>Diesel after in liters</th>
                                            <th>lost diesel in liters</th>
                                            <th>Lost diesel price</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Date</th>
                                            <th>Petrol before in liters</th>
                                            <th>Petrol after in liters</th>
                                            <th>lost petrol in liters</th>
                                            <th>Lost petrol price</th>
                                            <th>Diesel before in liters</th>
                                            <th>Diesel after in liters</th>
                                            <th>lost diesel in liters</th>
                                            <th>Lost diesel price</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                   <tbody>
                                   {% for value in tank_masters %}
                                       <tr>
                                        <td data-sort="{{ value.date|date:"Ymd" }}"> {{ value.date | date:"d-m-Y" }} </td>
                                        <td>{{ value.petrolbefore }}</td>
                                        <td>{{ value.petrolafter }}</td>
                                        <td>{{ value.lostpetrol }}</td>
                                        <td>{{ value.lostpetrolprice }}</td>
                                        <td>{{ value.dieselbefore }}</td>
                                        <td>{{ value.dieselafter }}</td>
                                        <td>{{ value.lostdiesel }}</td>
                                        <td>{{ value.lostdieselprice }}</td>

                                       <th>
                                           <a href="{% url 'Tank-update'  value.id %}" class="btn btn-info"> update</a>
                                           <a href="{% url 'Tank-delete'  value.id %}" class="btn btn-danger"> Delete</a>
                                           <a href="{% url 'Tank-detail'  value.id %}" class="btn btn-success waves-effect"> Detail</a>
                                       </th>

                                       </tr>
                                   {% endfor %}
                                   </tbody>
                                </table>

{% endblock %}
{% block menu_js %}
{% endblock %}
{% block extra_js %}
{% include "user/extra_js.html" %}
{% endblock %}