{% extends "user/layout.html" %}
{% load static %}
{% block extra_css %}
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/searchbuilder/1.1.0/css/searchBuilder.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/datetime/1.1.0/css/dataTables.dateTime.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/colreorder/1.5.4/css/colReorder.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
                    <div class="header" >
                     <center><h2>Nozzel Master Table</h2></center>
                    </div>
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="example">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Number</th>
                                            <th>Type</th>
                                            <th>Remark</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Number</th>
                                            <th>Type</th>
                                            <th>Remark</th>
                                            <th>Action</th>

                                        </tr>
                                    </tfoot>
                                   <tbody>
                                   {% for nozzel_master in nozzel %}
                                       <tr>
                                        <td>{{ nozzel_master.id }}</td>
                                        <td>{{ nozzel_master.nozzel_no }}</td>
                                        <td>{{ nozzel_master.type }}</td>
                                        <td>{{ nozzel_master.remark }}</td>
                                       <th>
                                           <a href="{% url 'nozzel-update'  nozzel_master.id %}" class="btn btn-info"> update</a>
                                           <a href="{% url 'nozzel-delete'  nozzel_master.id %}" class="btn btn-danger"> Delete</a>
                                            <a href="{% url 'nozzel-detail'  nozzel_master.id %}" class="btn btn-success waves-effect"> Detail</a>
                                       </th>

                                       </tr>
                                   {% endfor %}
                                   </tbody>
                                </table>

{% endblock %}
{% block menu_js %}
{% endblock %}
{% block extra_js %}
{% include "user/extra_js.html" %}
{% endblock %}