{% extends "user/layout.html" %}
{% block body %}
    <h1> Are you sure you want to delete ?</h1>
    <form method="post">
    {% csrf_token %}
    <div class="card profile-card">
                        <div class="profile-header">&nbsp;</div>


                    </div>

                    <div class="card card-about-me">

                        <div class="body">
                            <ul>
                                <li>
                                    <div class="title">
                                        <i class="fa fa-birthday-cake"></i>Date
                                    </div>
                                    <div class="content">
                                        {{ object.date }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons">location_on</i>
                                        Nozzel id
                                    </div>
                                    <div class="content">
                                        {{ object.nozzelid }}
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Total petrol
                                    </div>
                                    <div class="content">
                                        {{ object.totalprice }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Total Diesel
                                    </div>
                                    <div class="content">
                                        {{ object.totaldiesel }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Total petrol Price
                                    </div>
                                    <div class="content">
                                        {{ object.totalpprice }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Total diesel price
                                    </div>
                                    <div class="content">
                                        {{ object.totaldprice }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Petrol before
                                    </div>
                                    <div class="content">
                                        {{ object.petrolbefore }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Petrol after
                                    </div>
                                    <div class="content">
                                        {{ object.petrolafter }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Diesel before
                                    </div>
                                    <div class="content">
                                        {{ object.dieselbefore }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Diesel After
                                    </div>
                                    <div class="content">
                                        {{ object.dieselafter }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons">edit</i>
                                        amount
                                    </div>
                                    <div class="content">
                                       {{ object.amount }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        type
                                    </div>
                                    <div class="content">
                                        {{ object.type }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        bank name
                                    </div>
                                    <div class="content">
                                        {{ object.bankname }}
                                    </div>
                                </li>

                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        branch name
                                    </div>
                                    <div class="content">
                                        {{ object.branchname }}
                                    </div>
                                </li>


                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        reference id
                                    </div>
                                    <div class="content">
                                        {{ object.reference_id }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Opening time
                                    </div>
                                    <div class="content">
                                        {{ object.openingtime }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        closing time
                                    </div>
                                    <div class="content">
                                        {{ object.closingtime }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Opening petrol in liter
                                    </div>
                                    <div class="content">
                                        {{ object.openinglitpetrol }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        closing petrol in lit
                                    </div>
                                    <div class="content">
                                        {{ object.closinglitpetrol }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Opening Diesel in lit
                                    </div>
                                    <div class="content">
                                        {{ object.openinglitdiesel }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        closing Diesel in lit
                                    </div>
                                    <div class="content">
                                        {{ object.closinglitdiesel }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Lost Petrol
                                    </div>
                                    <div class="content">
                                        {{ object.lostpetrol }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Lost Diesel
                                    </div>
                                    <div class="content">
                                        {{ object.lostdiesel }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Lost petrol price
                                    </div>
                                    <div class="content">
                                        {{ object.lostpetrolprice }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Lost diesel price
                                    </div>
                                    <div class="content">
                                        {{ object.lostdieselprice }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        creditor slip no.
                                    </div>
                                    <div class="content">
                                        {{ object.creditorslipno }}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
        <input type="submit" value="delete" class="btn btn-danger">
        <a href="{% url 'cpayment-view' %}" class="btn btn-info" >cancel </a>
    </form>
{% endblock %}