{% extends "user/layout.html" %}
{% load static %}
{% load crispy_forms_field %}
{% block body %}
<div class="col-sm-3">
                <div class="card profile-card">


                            <div class="image-area">

                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <img src="{% static 'IndianOilLogo100x100 (1).jpg' %}" width="130px" height="130px" alt="AdminBSB - Profile Image" />
                            </div>
                            <div class="content-area">
                                <h4>{{ object.fname }} {{ object.mname }} {{ object.lname }}</h4>
                                <p>{{ object.companyname }}</p>

                            </div>

                </div>
    </div>
    <div class="col-sm-9">

                    <div class="card card-about-me">

                        <div class="body">
                            
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Contact person name</b>
                                    </div>
                                    <div class="content">
                                        {{ object.contactpersonname }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Contact person Mobile</b>
                                    </div>
                                    <div class="content">
                                        {{ object.contactpersonmobile }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Home no.</b>
                                    </div>
                                    <div class="content">
                                       {{ object.homeno }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>GST number</b>
                                    </div>
                                    <div class="content">
                                        {{ object.gstno }}
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Pending Balance</b>
                                    </div>
                                    <div class="content">
                                        {{ object.pendingbalance }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Creation Date</b>
                                    </div>
                                    <div class="content">
                                        {{ object.creationdate }}
                                    </div>
                                </div>


                            <br><br><br><br><br>
                            
                        </div>
                    </div>
    </div>
{% endblock %}
