{% extends "user/layout.html" %}
{% load static %}
{% block extra_css %}


    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/searchbuilder/1.1.0/css/searchBuilder.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/datetime/1.1.0/css/dataTables.dateTime.min.css" rel="stylesheet">



{% endblock %}
{% block body %}

                                <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="example">
                                    <thead>
                                        <tr>
                                            <th>Fname</th>
                                            <th>Mname</th>
                                            <th>Lname</th>
                                            <th>Mobile</th>
                                            <th>Telephone</th>
                                            <th>Designation</th>
                                            <th> Action</th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Fname</th>
                                            <th>Mname</th>
                                            <th>Lname</th>
                                            <th>Mobile</th>
                                            <th>Telephone</th>
                                            <th>Designation</th>
                                            <th> Action</th>
                                        </tr>
                                    </tfoot>
                                   <tbody>
                                   {% for employee in employees %}
                                       <tr>
                                             <td>{{ employee.fname }}</td>
                                             <td>{{ employee.mname }}</td>
                                             <td>{{ employee.lname}}</td>
                                             <td>{{ employee.mobile }}</td>
                                             <td>{{ employee.telephone }}</td>
                                             <td>{{ employee.designation }}</td>
                                       <th>
                                           <a href="{% url 'employee-update'  employee.id %}" class="btn btn-info"> Update</a>
                                           <a href="{% url 'employee-delete'  employee.id %}" class="btn btn-danger"> Delete</a>
                                           <a href="{% url 'employee-detail'  employee.id %}" class="btn btn-danger"> Detail</a>
                                       </th>

                                       </tr>
                                   {% endfor %}
                                   </tbody>
                                </table>

{% endblock %}
{% block extra_js %}


      <!-- Jquery DataTable Plugin Js -->
    <script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.flash.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/pdfmake.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/vfs_fonts.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.print.min.js'%}"></script>





<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'print',
                messageTop: "<div class='col-sm-3'><h1>INDIAN OIL</h1></div><div class='col-sm-3'><img src='{% static 'img.png' %}' width='200' height='200'></img></div>"
            }
        ]
    } );
} );
</script>

    <!-- Custom Js -->
    <script src="{% static 'js/admin.js'%}"></script>
    <script src="{% static 'js/pages/tables/jquery-datatable.js'%}"></script>
{% endblock %}