<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Course Detail View</h1>
    <table border="2">
    <tr>
        <td> Name: {{ object.fname }} {{ object.mname }} {{ object.lname}}</td>
    </tr>
    <tr>
        <td> mobile : {{ object.mobile }}</td></tr>
         <td> telephone : {{ object.telephone }}</td>
         <td> block : {{ object.block }}</td>
         <td> street : {{ object.street }}</td>
         <td> pin: {{ object.pin }}</td>
         <td> city : {{ object.city }}</td>
         <td> state : {{ object.state }}</td>
         <td> country : {{ object.country }}</td>
         <td> designation : {{ object.designation }}</td>
         <td> dob : {{ object.dob }}</td>
         <td> gender : {{ object.gender }}</td>
         <td> education : {{ object.education }}</td>
         <td> dateofjoin : {{ object.dateofjoin }}</td>
         <td> shifttime : {{ object.shifttime }}</td>
         <td> workinghours : {{ object.workinghours }}</td>
         <td> salary : {{ object.salary }}</td>
         <td> bankname : {{ object.bankname }}</td>
         <td> accountno : {{ object.accountno }}</td>
         <td> ifsccode : {{ object.ifsccode }}</td>
         <td> panno : {{ object.panno }}</td>
         <td> aadharno : {{ object.aadharno }}</td>
         <td> reference : {{ object.reference }}</td>
         <td> photo : {{ object.photo }}</td>
         <td> document : {{ object.document }}</td>
     </tr>
    </table>
</body>
</html>