{% extends "user/layout.html" %}
{% load static %}
{% block extra_css %}
     <!-- JQuery DataTable Css -->
    <link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css'%}" rel="stylesheet">

{% endblock %}
{% block body %}
               <!-- Exportable Table -->
 <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Rate  TABLE
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <td class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <td><a href="javascript:void(0);">Action</a></td>
                                        <td><a href="javascript:void(0);">Another action</a></td>
                                        <td><a href="javascript:void(0);">Something else here</a></td>
                                    </ul>
                                </td>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>
                                            <th>Fname</th>
                                            <th>Mname</th>
                                            <th>Lname</th>
                                            <th>Mobile</th>
                                            <th>Telephone</th>
                                            <th>Block</th>
                                            <th>Street</th>
                                            <th>Area</th>
                                            <th>Pin</th>
                                            <th>City</th>
                                            <th>State</th>
                                            <th>Country</th>
                                            <th>Designation</th>
                                            <th>Dob</th>
                                            <th>Gender</th>
                                            <th>Education</th>
                                            <th>Dateofjoin</th>
                                            <th>Shifttime</th>
                                            <th>Workinghours</th>
                                            <th>Salary</th>
                                            <th>Bankname</th>
                                            <th>Accountno</th>
                                            <th>IFSCcode</th>
                                            <th>Panno</th>
                                            <th>Aadharno</th>
                                            <th>Reference</th>
                                            <th>Photo</th>
                                            <th>Document</th>
                                            <th> Action</th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Fname</th>
                                            <th>Mname</th>
                                            <th>Lname</th>
                                            <th>Mobile</th>
                                            <th>Telephone</th>
                                            <th>Block</th>
                                            <th>Street</th>
                                            <th>Area</th>
                                            <th>Pin</th>
                                            <th>City</th>
                                            <th>State</th>
                                            <th>Country</th>
                                            <th>Designation</th>
                                            <th>Dob</th>
                                            <th>Gender</th>
                                            <th>Education</th>
                                            <th>Dateofjoin</th>
                                            <th>Shifttime</th>
                                            <th>Workinghours</th>
                                            <th>Salary</th>
                                            <th>Bankname</th>
                                            <th>Accountno</th>
                                            <th>IFSCcode</th>
                                            <th>Panno</th>
                                            <th>Aadharno</th>
                                            <th>Reference</th>
                                            <th>Photo</th>
                                            <th>Document</th>
                                            <th> Action</th>

                                        </tr>
                                    </tfoot>
                                   <tbody>
                                   {% for employee in employees %}
                                       <tr>
                                             <td>{{ employee.fname }}</td>
                                             <td>{{ employee.mname }}</td>
                                             <td>{{ employee.lname}}</td>
                                             <td>{{ employee.mobile }}</td>
                                             <td>{{ employee.telephone }}</td>
                                             <td>{{ employee.block }}</td>
                                             <td>{{ employee.street }}</td>
                                             <td>{{ employee.area }}</td>
                                             <td>{{ employee.pin }}</td>
                                             <td>{{ employee.city }}</td>
                                             <td>{{ employee.state }}</td>
                                             <td>{{ employee.country }}</td>
                                             <td>{{ employee.designation }}</td>
                                             <td>{{ employee.dob }}</td>
                                             <td>{{ employee.gender }}</td>
                                             <td>{{ employee.education }}</td>
                                             <td>{{ employee.dateofjoin }}</td>
                                             <td>{{ employee.shifttime }}</td>
                                             <td>{{ employee.workinghours }}</td>
                                             <td>{{ employee.salary }}</td>
                                             <td>{{ employee.bankname }}</td>
                                             <td>{{ employee.bankaccountno }}</td>
                                             <td>{{ employee.IFSCcode }}</td>
                                             <td>{{ employee.panno }}</td>
                                             <td>{{ employee.aadharno }}</td>
                                             <td>{{ employee.reference }}</td>
                                             <td>{{ employee.photo }}</td>
                                             <td>{{ employee.document }}</td>
                                       <th>
                                           <a href="{% url 'employee-update'  employee.id %}" class="btn btn-info"> Update</a>
                                           <a href="{% url 'employee-delete'  employee.id %}" class="btn btn-danger"> Delete</a>
                                           <a href="{% url 'employee-detail'  employee.id %}" class="btn btn-danger"> Detail</a>
                                       </th>

                                       </tr>
                                   {% endfor %}
                                   </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Exportable Table -->
        </div>
{% endblock %}
{% block extra_js %}
      <!-- Jquery DataTable Plugin Js -->
    <script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.flash.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/jszip.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/pdfmake.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/vfs_fonts.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.print.min.js'%}"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/admin.js'%}"></script>
    <script src="{% static 'js/pages/tables/jquery-datatable.js'%}"></script>

{% endblock %}