{% extends "user/layout.html" %}
{% load static %}
{% load crispy_forms_field %}
{% block body %}
<div class="card profile-card">
                        <div class="profile-header">&nbsp;</div>


                    </div>

                    <div class="card card-about-me">

                        <div class="body">
                            <ul>
                                <li>
                                    <div class="title">
                                        <i class="fa fa-birthday-cake"></i>Date
                                    </div>
                                    <div class="content">
                                        {{ object.date }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons">location_on</i>
                                        creditor id
                                    </div>
                                    <div class="content">
                                        {{ object.creditorid }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons">edit</i>
                                        amount
                                    </div>
                                    <div class="content">
                                       {{ object.amount }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        type
                                    </div>
                                    <div class="content">
                                        {{ object.type }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        bank name
                                    </div>
                                    <div class="content">
                                        {{ object.bankname }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        cheque no
                                    </div>
                                    <div class="content">
                                        {{ object.chequeno }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        branch name
                                    </div>
                                    <div class="content">
                                        {{ object.branchname }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        cheque date
                                    </div>
                                    <div class="content">
                                        {{ object.check_date }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        reference id
                                    </div>
                                    <div class="content">
                                        {{ object.reference_id }}
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        Slip number
                                    </div>
                                    <div class="content">
                                        {{ object.slipno }}
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
{% endblock %}