{% extends "user/layout.html" %}
{% load static %}
{% block extra_css %}
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/searchbuilder/1.1.0/css/searchBuilder.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/datetime/1.1.0/css/dataTables.dateTime.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/colreorder/1.5.4/css/colReorder.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="header" >
                     <center><h2>Creditor Payment Table</h2></center>
                    </div>

                                <table id="example">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Creditor Id</th>
                                            <th>Amount</th>
                                            <th>type</th>
                                            <th>Action </th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Date</th>
                                            <th>Creditor Id</th>
                                            <th>Amount</th>
                                            <th>type</th>
                                            <th>Action </th>
                                        </tr>
                                    </tfoot>
                                   <tbody>
                                        {% for value in cpayments %}
                                            <tr>
                                              <td>{{ value.date }}</td>
                                              <td>{{ value.creditorid }}</td>
                                              <td>{{ value.amount}}</td>
                                              <td>{{ value.type }}</td>

                                            <td>
                                                <a href="{% url 'cpayment-update'  value.id %}" class="btn btn-info"> update</a>
                                                <a href="{% url 'cpayment-delete'  value.id %}" class="btn btn-danger"> Delete</a>
                                                <a href="{% url 'cpayment-detail'  value.id %}" class="btn btn-success waves-effect"> Detail</a>
                                            </td>
                                            </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

{% endblock %}
{% block menu_js %}
{% endblock %}
{% block extra_js %}
{% include "user/extra_js.html" %}
{% endblock %}
