{% load static %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.5.4/js/dataTables.colReorder.min.js"></script>
    <script src="https://cdn.datatables.net/searchbuilder/1.1.0/js/dataTables.searchBuilder.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.1.0/js/dataTables.dateTime.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.colVis.min.js"></script>



    <script>
    $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'QBfrtip',
        colReorder: true,
        "order": [],
        buttons: [
            'colvis',
            'copy',


            {
                extend: 'excel',
                messageTop: 'Indian Oil',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'pdfHtml5',
                messageTop: 'INDIAN OIL',
                exportOptions: {
                    columns: ':visible'
                }
            },
               {
                extend: 'print',
                messageTop: "<center><h1>Indian Oil</h1><br><h4>Sandhvi Petrol Pump-Jaroda Samlaya Road</h4></center><img src='{% static 'IndianOilLogo100x100 (1).jpg' %}' ></img>' ",
                exportOptions: {
                    columns: ':visible'
                }
            }

        ]

    } );
} );
    </script>



    <!-- Custom Js -->
    <script src="{% static 'js/admin.js' %}"></script>


