{% extends "user/layout.html" %}
{% load static %}
{% block extra_css %}
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/searchbuilder/1.1.0/css/searchBuilder.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/datetime/1.1.0/css/dataTables.dateTime.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/colreorder/1.5.4/css/colReorder.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
                            <table  id="example">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Petrol Rate</th>
                                            <th>Diesel Rate</th>
                                            <th>Oil Rate</th>
                                            <th> Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Date</th>
                                            <th>Petrol Rate</th>
                                            <th>Diesel Rate</th>
                                            <th>Oil Rate</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                   <tbody>
                                   {% for rate in rates %}
                                       <tr>
                                        <td data-sort="{{ rate.date|date:"Ymd" }}"> {{ rate.date | date:"d-m-Y" }} </td>
                                        <td>{{ rate.petrol_price }}</td>
                                        <td>{{ rate.diesel_price }}</td>
                                        <td>{{ rate.oil_rate }}</td>
                                       <th>
                                           <a href="{% url 'rate-update'  rate.id %}" class="btn btn-info"> update</a>
                                           <a href="{% url 'rate-delete'  rate.id %}" class="btn btn-danger"> Delete</a>
                                           <a href="{% url 'rate-detail'  rate.id %}" class="btn btn-success waves-effect"> Detail</a>
                                       </th>
                                       </tr>
                                  {% endfor %}
                                  </tbody>
                            </table>
{% endblock %}
{% block menu_js %}
{% endblock %}
{% block extra_js %}
{% include "user/extra_js.html" %}
{% endblock %}