{% extends "user/layout.html" %}
{% load static %}
{% load crispy_forms_field %}


{% block body %}
   <div class="col-sm-3">
                <div class="card profile-card">


                            <div class="image-area">

                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <img src="{% static 'IndianOilLogo100x100 (1).jpg' %}" width="130px" height="130px" alt="AdminBSB - Profile Image" />
                            </div>
                            <div class="content-area">
                                <h4>{{ object.fname }} {{ object.mname }} {{ object.lname }}</h4>
                                <p><center><b>{{ object.companyname }}</b></center></p>

                            </div>

                </div>
    </div>
    <div class="col-sm-9">

                    <div class="card card-about-me">

                        <div class="body">
                            
                                <div class="col-sm-4">
                                    <div class="title">
                                        <i class="fa fa-birthday-cake"></i>
                                        <b>Date</b>
                                    </div>
                                    <div class="content">
                                        {{ object.date }}
                                    </div>
                                </div >
                                <div class="col-sm-4">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>vehicle id</b>
                                    </div>
                                    <div class="content">
                                        {{ object.vehicle_id }}
                                    </div>
                                </div >

                                <div class="col-sm-4">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Nozzel Id</b>
                                    </div>
                                    <div class="content">
                                       {{ object.nozzel }}
                                    </div>
                                </div >
                                <div class="col-sm-4">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Driver Name</b>
                                    </div>
                                    <div class="content">
                                        {{ object.drivername }}
                                    </div>
                                </div >
                                <div class="col-sm-4">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Company Name</b>
                                    </div>
                                    <div class="content">
                                        {{ object.companyname }}
                                    </div>
                                </div >
                            {% if object.nozzel.type == 'petrol' %}
                                <div class="col-sm-4">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Petrol in liters</b>
                                    </div>
                                    <div class="content">
                                        {{ object.petrolinlit }}
                                    </div>
                                </div >
                                <div class="col-sm-4">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Petrol Price</b>
                                    </div>
                                    <div class="content">
                                       {{ object.petrolrates }}
                                    </div>
                                </div >
                                <div class="col-sm-4">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Petrol Total Price</b>
                                    </div>
                                    <div class="content">
                                        {{ object.petrolprice }}
                                    </div>
                                </div >
                            {% else %}
                                <div class="col-sm-4">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Diesel in liters</b>
                                    </div>
                                    <div class="content">
                                        {{ object.dieselinlit }}
                                    </div>
                                </div >
                                <div class="col-sm-4">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Diesel Rates</b>
                                    </div>
                                    <div class="content">
                                        {{ object.dieselrates }}
                                    </div>
                                </div >
                                <div class="col-sm-4">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Diesel Price</b>
                                    </div>
                                    <div class="content">
                                        {{ object.dieselprice }}
                                    </div>
                                </div >
                            {% endif %}
                                <div class="col-sm-6">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Sign</b>
                                    </div>
                                    <div class="content">

                                    </div>
                                </div >
                            <br>
                                <div class="col-sm-6 ">
                                    <div class="title">
                                        <i class="material-icons"></i>
                                        <b>Stamp</b>
                                    </div>
                                    <div class="content">

                                    </div>
                                </div >


<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<div class="row no-print">
                <div class="col-12" >
                  <a href="{% url 'print-page' object.id %}" rel="noopener" target="_blank" class="btn btn-default" ><i class="fas fa-print"></i> Print</a>


                </div>
              </div>
                        </div>

                        </div>

                    </div>
{% endblock %}